.BannerContainer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 90%;
	margin: 0 auto;
	height: 100%;
}
.title {
	font-family: Centra;
	font-size: 5rem;
	font-weight: 500;
}
.header-img {
	width: 40%;
	animation-name: upDown;
	animation-timing-function: ease-in-out;
	animation-duration: 8s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}
.highlighted {
	color: #9b3585;
}
@media (max-width: 90em) {
	.header-img {
		width: 50%;
	}
	.title {
		font-size: 4rem;
	}
}

@keyframes upDown {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, 5%);
	}
	100% {
		transform: translate(0, 0);
	}
}
