.contact {
	position: relative;
	opacity: 0;
}
.contact__window {
	padding: 4rem;
	margin: auto;
	width: 55rem;
	background-color: transparent;
	overflow: hidden;
	border-radius: 1.2rem;
	border: 2px solid var(--white-color);
	transition: 0.3s;
}
.contact__window:hover {
	cursor: pointer;
	box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}
.contact__header-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin: 4rem 0;
}
.contact__header-container h1 {
	font-size: 3rem;
	color: vaR(--white-color);
	font-weight: 400;
	padding-bottom: 0.7rem;
	letter-spacing: 2px;
}
.contact__header-container p {
	font-size: 2rem;
	color: #ffffff;
	font-weight: 400;
	margin: 0;
	padding-bottom: 0.7rem;
}
.contact__form {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin: 0 auto;
	height: 100%;
	align-items: center;
}
.contact__input {
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: 2px solid #9b3585 !important;
	margin: 0 0 3.5rem 2rem;
	padding: 1.5rem 0;
	width: 40rem;
	position: relative;
	font-size: 1.5rem;
	color: #555555;
}
.contact__inputContainer {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.contact__label {
	color: var(--white-color);
	padding: 0;
	margin: 0;
	text-align: right;
	font-size: 1.6rem;
	margin: 0 0 4rem 0;
	width: 20%;
}
.contact__submit {
	display: flex;
	font-size: 1.6rem;
	justify-content: center;
	align-items: center;
	border-radius: 2.5rem;
	cursor: pointer;
	color: #ffffff;
	padding: 0 2rem;
	border: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;

	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	gap: 1rem;
	height: 5rem;
	background-color: #9b3585;
	min-width: 16rem;
	transition: all 0.4s ease;
}
.contact__submit:active {
	transform: scale(0.98);
	opacity: 0.7;
}
.contact__submit:hover {
	gap: 2rem;
	background-color: var(--base-color);
	border: 2px solid #9b3585;
	color: #9b3585;
}
.contact__errorWindow {
	margin-top: 1.5rem;
	padding: 4px;
	border-radius: 2px;
	border: 1px solid #ffffff;
	color: #ffffff;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1.2rem;
}

.contact__arrow {
	font-size: 1.6rem;
}
.refContact {
	width: 100%;
	position: relative;
	opacity: 1;
	padding: 10rem 0;
	border-top: 1px solid var(--white-color);
	margin: auto;
	transition: all 2s;
	margin-top: 2rem;
}
