.navbar {
	padding: 18px 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
	transition: 0.32 ease-in-out;
	transition: 0.3s ease-in-out;
}
.navContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
}
a {
	color: #fff !important;
	text-decoration: none !important;
}
.navbar.scrolled {
	padding: 0px 0;

	background-color: #121212;
}
.nav.navbar a.navbar-brand {
	width: 9%;
}
.navbar-link {
	font-weight: 400;
	color: #fff !important;
	letter-spacing: 0.8px;
	padding: 2.5rem;
	font-size: 1.8rem;
	opacity: 0.75;
	transition: 0.3s ease-in-out;
}
.navbar-link:hover,
.nav-link.navbar-link:active {
	opacity: 1;
	color: #9b3585 !important;
}
span.navbar-text {
	display: flex;
	align-items: center;
}
.social-icon {
	display: inline-block;
	margin-left: 1.4rem;
}

.social-icon a {
	width: 4.2rem;
	height: 4.2rem;
	font-size: 2rem;
	background-color: rgba(217, 217, 217, 0.1);
	display: inline-flex;
	border-radius: 50%;
	margin-right: 0.6rem;
	align-items: center;
	justify-content: center;
	line-height: 1;
	border: 0.1rem solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
	content: "";
	width: 4.2rem;
	height: 4.2rem;
	position: absolute;
	background-color: #ffffff;
	border-radius: 50%;
	transform: scale(0);
	opacity: 0.4;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
	transform: scale(1);
}
.navbar-text .button {
	font-weight: 700;
	color: #fff;
	border: 1px solid #fff;
	padding: 1.8rem 3.4rem;
	font-size: 1.8rem;
	margin-left: 1.8rem;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}
.navbar-text .button::before {
	content: "";
	opacity: 0.7;
	width: 0%;
	overflow: hidden;
	height: 100%;
	position: absolute;
	background-color: #fff;
	left: 0;
	top: 0;
	z-index: -1;
	transition: 0.3s ease-in-out;
}
.navbar-text .button:hover {
	color: #121212;
}
.navbar-text .button:active {
	transform: scale(0.8);
}

.navbar-text .button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
.navContainer .msg {
	font-weight: 700;
	font-size: 3rem;
}
.hamburger {
	display: none;
	color: #fff;
	z-index: 34;
}
.nav-2 {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
	opacity: 0;
}
.nav-active {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-direction: column;
	background-color: var(--base-color);
	transition: all 1s;
	padding: 10rem 3rem;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

@media (max-width: 73.12em) {
	.hamburger {
		display: inline-block;
		width: 4rem;
	}
	.navbar {
		width: 100%;
		padding: 2rem 4rem;
		overflow: visible;
	}
	.nav {
		display: none;
	}
	.navbar-text {
		display: none !important;
	}
	.nav-2 {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		top: -100%;
		left: -100%;
		position: fixed;
		height: 0%;
		width: 0%;
		transition: 1s;
	}
	.navbar-link {
		font-size: 5rem;
	}
}
